body {
    image-rendering: auto;
    image-orientation: initial;
    background-image: url(https://free4kwallpapers.com/uploads/originals/2022/03/28/minimal-moonlight-wallpaper.png);
}
.text-center {
    text-align: center;
}
.botao-direita {
    display: flex;
    justify-content: flex-end;
}

.nome-clinica {
    text-align: center;
    margin-top: 15%;
    font-family: 'Times New Roman', Times, serif;
}